<p id="notice"><%= notice %></p>

<%= form_tag events_path, :method => 'get' do %>
<p>
<div class="field container">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </div>
  <% end %>
</p>

<h1 class = "center">Listing Events -  <%= link_to 'New Event', new_event_path, class: "btn btn-primary" %></h1>
<%= paginate @events %>
<div class="container">
  <% @events.each do |event| %>
  <div class="event-outer">
    <div class="week <%= event.odd_even %>"><p><%= event.week_number %></p> </div>
    <div class="<%= event.calendar %>">
            
            <div class="event-title center">
                <h3><%= event.name %> - <%= event.person %></h1>
            </div>

      <table class = "event-table <%= event.calendar %>">
            <thead>
                <tr class = "center"  >
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Number of Days</th>
                  <th>Days until Event</th>
                  <th>Weeks until Event</th>
                  <th>Notes</th>


                </tr>
              </thead>
            
              <tr class = "center">
                <td><%= event.date %></td>
                <td><%= event.end_date %></td>
                <td><%= event.no_of_days %></td> 
                <td><%= event.days_to_event%></td>
                <td><%= event.weeks_to_event %></td> 
                <td><%= event.note %></td> 
                <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary" %> 
                <%= link_to 'Destroy', event,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn   btn-danger" %></td>
              </tr>
            </table>
    </div>
  </div>
           <div class="devider"></div>
            <% end %>
 
</div>





