


<div class="container body">
	<h1 class="center">Showing <%=@event.name%></h1>
  <div class="event-panel">
    <div class="panel <%= @event.calendar %>">
        <div class="panel-heading">
            <div class="panel-title">
              <div class="panel-week <%= @event.odd_even %>"><span><%= @event.week_number %></span></div>
              <div class="panel-date"><%= @event.end_date.strftime("%a %d %b") %>  </div>
              <div class="panel-days">
                <div class="number"><%= @event.no_of_days %></div>
                <div class="word"><%= "Day".pluralize(@event.no_of_days)  %></div>
              </div>  
              <div class="panel-event"><%= @event.name %> - <%= @event.person %></div>
              
            </div>
            <div class="panel-info">
                <div class="info-panel-inner">
                  <div class="day-info">
                    <div class="info-number"><%= @event.days_to_event%></div>
                    <div class="info-word"><%="Day".pluralize(@event.days_to_event)%></div>
                  </div>
                  <div class="week-info">
                    <div class="info-number"><%= @event.weeks_to_event %></div>
                    <div class="info-word"><%="Week".pluralize(@event.weeks_to_event)%></div>
                  </div>
                  <div class="note-info">
                    <div class="info-number">Note:</div> <div class="info-note"> <p><%= @event.note %></p></div> 
                  </div>
              </div>

            </div>
        </div>

        <div class="panel-footer">
          <%= link_to 'Back', future_events_path, class: "text-pull-right" %> | 
          <%= link_to 'Destroy', @event,  method: :delete, data: { confirm: 'Are you sure?' }%>
        </div>

    </div>
</div>
</div>

