
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@link) do |f| %>
  

  <div class="field">
    <%= f.label "Enter the path to the doc." %><br>
    <%= f.text_field :link, class: 'form-control' %>
  </div>
  <p></p>
  <div class="field">
    <%= f.label "What is the name of this doc?" %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <p>
  <div class="actions">
    <%= f.submit "Save Doc", class: "btn btn-primary" %>
  </div>
<% end %>
</p>
